{"openapi":"3.0.0","paths":{"/":{"get":{"operationId":"AppController_getData","parameters":[],"responses":{"200":{"description":""}}}},"/events/impression":{"post":{"operationId":"EventsController_onImpression","summary":"","description":"Log an impression.","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackImpressionRequestDto"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackResponseDto"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NestJSErrorSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NestJSErrorSchema"}}}}},"tags":["Events"]}},"/events/click":{"post":{"operationId":"EventsController_onClick","summary":"","description":"Log a click.","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackClickRequestDto"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackResponseDto"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NestJSErrorSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NestJSErrorSchema"}}}}},"tags":["Events"]}},"/events/view":{"post":{"operationId":"EventsController_onPageView","summary":"","description":"Log when the customer views a specific product / category page.","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackPageViewRequestDto"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackResponseDto"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NestJSErrorSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NestJSErrorSchema"}}}}},"tags":["Events"]}},"/events/add-to-cart":{"post":{"operationId":"EventsController_onAddToCart","summary":"","description":"Log when the customer adds a product to the cart.","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackAddToCartRequestDto"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackResponseDto"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NestJSErrorSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NestJSErrorSchema"}}}}},"tags":["Events"]}},"/events/purchase":{"post":{"operationId":"EventsController_onPurchase","summary":"","description":"Log when the customer purchases a product.","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackPurchaseRequestDto"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackResponseDto"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NestJSErrorSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NestJSErrorSchema"}}}}},"tags":["Events"]}}},"info":{"title":"ADCIO API:receiver","description":"The ADCIO API:receiver specification","version":"v1.0","contact":{}},"tags":[],"servers":[{"url":"https://receiver.adcio.ai","description":"Production"}],"components":{"securitySchemes":{"accessToken":{"scheme":"bearer","bearerFormat":"JWT","type":"http","name":"JWT","description":"Enter JWT token","in":"header"}},"schemas":{"TrackImpressionRequestDto":{"type":"object","properties":{"storeId":{"type":"string","description":"ADCIO Client ID of the store.","example":"7a5c6244-fb4b-4962-87d0-47e63bfee377"},"sessionId":{"type":"string","description":"The session starts when the customer visits the store. It persists until the customer closes the tab, browser or app.","example":"8cca19cc-aea2-4937-9f76-6709ba35c66b"},"deviceId":{"type":"string","description":"The device identifier should be unique for each device. A customer can have multiple devices.","example":"f7c79dd4-bb47-4e87-9815-a724c1503d37"},"customerId":{"type":"string","description":"The customer identifier which is generated and managed by the store. The store should configure `frontApi` parameter of ADCIO SDK so that the `customerId` can be sent to ADCIO API.","example":"corca0302"},"sdkVersion":{"type":"string","description":"The version of the SDK","example":"1.0.0"},"requestId":{"type":"string","description":"Identifier for the suggestion request","example":"47d889b5-a709-4802-8c72-c9e3c48ae88c"},"productIdOnStore":{"type":"string","description":"Product ID (on store).","example":"39"},"adsetId":{"type":"string","description":"Product ID / Banner ID","example":"f0452c18-6727-4e2a-8140-96c7367aba17"},"userAgent":{"type":"string"}},"required":["storeId","sessionId","deviceId"]},"TrackResponseDto":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]},"NestJSErrorSchema":{"type":"object","properties":{"statusCode":{"type":"number","readOnly":true},"message":{"type":"object","readOnly":true,"example":"string | number"},"error":{"type":"string","readOnly":true}},"required":["statusCode","message","error"]},"TrackClickRequestDto":{"type":"object","properties":{"storeId":{"type":"string","description":"ADCIO Client ID of the store.","example":"7a5c6244-fb4b-4962-87d0-47e63bfee377"},"sessionId":{"type":"string","description":"The session starts when the customer visits the store. It persists until the customer closes the tab, browser or app.","example":"8cca19cc-aea2-4937-9f76-6709ba35c66b"},"deviceId":{"type":"string","description":"The device identifier should be unique for each device. A customer can have multiple devices.","example":"f7c79dd4-bb47-4e87-9815-a724c1503d37"},"customerId":{"type":"string","description":"The customer identifier which is generated and managed by the store. The store should configure `frontApi` parameter of ADCIO SDK so that the `customerId` can be sent to ADCIO API.","example":"corca0302"},"sdkVersion":{"type":"string","description":"The version of the SDK","example":"1.0.0"},"requestId":{"type":"string","description":"Identifier for the suggestion request","example":"47d889b5-a709-4802-8c72-c9e3c48ae88c"},"productIdOnStore":{"type":"string","description":"Product ID (on store).","example":"39"},"adsetId":{"type":"string","description":"Product ID / Banner ID","example":"f0452c18-6727-4e2a-8140-96c7367aba17"},"userAgent":{"type":"string"}},"required":["storeId","sessionId","deviceId"]},"TrackPageViewRequestDto":{"type":"object","properties":{"storeId":{"type":"string","description":"ADCIO Client ID of the store.","example":"7a5c6244-fb4b-4962-87d0-47e63bfee377"},"sessionId":{"type":"string","description":"The session starts when the customer visits the store. It persists until the customer closes the tab, browser or app.","example":"8cca19cc-aea2-4937-9f76-6709ba35c66b"},"deviceId":{"type":"string","description":"The device identifier should be unique for each device. A customer can have multiple devices.","example":"f7c79dd4-bb47-4e87-9815-a724c1503d37"},"customerId":{"type":"string","description":"The customer identifier which is generated and managed by the store. The store should configure `frontApi` parameter of ADCIO SDK so that the `customerId` can be sent to ADCIO API.","example":"corca0302"},"sdkVersion":{"type":"string","description":"The version of the SDK","example":"1.0.0"},"requestId":{"type":"string","description":"Identifier for the suggestion request","example":"47d889b5-a709-4802-8c72-c9e3c48ae88c"},"productIdOnStore":{"type":"string","description":"Product ID (on store).","example":"39"},"adsetId":{"type":"string","description":"Product ID / Banner ID","example":"f0452c18-6727-4e2a-8140-96c7367aba17"},"categoryIdOnStore":{"type":"string","description":"Category ID (on store).","example":"2108"},"userAgent":{"type":"string"}},"required":["storeId","sessionId","deviceId"]},"TrackAddToCartRequestDto":{"type":"object","properties":{"storeId":{"type":"string","description":"ADCIO Client ID of the store.","example":"7a5c6244-fb4b-4962-87d0-47e63bfee377"},"sessionId":{"type":"string","description":"The session starts when the customer visits the store. It persists until the customer closes the tab, browser or app.","example":"8cca19cc-aea2-4937-9f76-6709ba35c66b"},"deviceId":{"type":"string","description":"The device identifier should be unique for each device. A customer can have multiple devices.","example":"f7c79dd4-bb47-4e87-9815-a724c1503d37"},"customerId":{"type":"string","description":"The customer identifier which is generated and managed by the store. The store should configure `frontApi` parameter of ADCIO SDK so that the `customerId` can be sent to ADCIO API.","example":"corca0302"},"sdkVersion":{"type":"string","description":"The version of the SDK","example":"1.0.0"},"requestId":{"type":"string","description":"Identifier for the suggestion request","example":"47d889b5-a709-4802-8c72-c9e3c48ae88c"},"productIdOnStore":{"type":"string","description":"Product ID (on store).","example":"39"},"adsetId":{"type":"string","description":"Product ID / Banner ID","example":"f0452c18-6727-4e2a-8140-96c7367aba17"},"categoryIdOnStore":{"type":"string","description":"Category ID (on store).","example":"2108"},"cartId":{"type":"string","description":"Unique identifier of the cart to prevent duplicate cart tracking.","example":"62412"},"quantity":{"type":"number","description":"Quantity of the product.","example":2},"userAgent":{"type":"string"}},"required":["storeId","sessionId","deviceId"]},"TrackPurchaseRequestDto":{"type":"object","properties":{"storeId":{"type":"string","description":"ADCIO Client ID of the store.","example":"7a5c6244-fb4b-4962-87d0-47e63bfee377"},"sessionId":{"type":"string","description":"The session starts when the customer visits the store. It persists until the customer closes the tab, browser or app.","example":"8cca19cc-aea2-4937-9f76-6709ba35c66b"},"deviceId":{"type":"string","description":"The device identifier should be unique for each device. A customer can have multiple devices.","example":"f7c79dd4-bb47-4e87-9815-a724c1503d37"},"customerId":{"type":"string","description":"The customer identifier which is generated and managed by the store. The store should configure `frontApi` parameter of ADCIO SDK so that the `customerId` can be sent to ADCIO API.","example":"corca0302"},"sdkVersion":{"type":"string","description":"The version of the SDK","example":"1.0.0"},"requestId":{"type":"string","description":"Identifier for the suggestion request","example":"47d889b5-a709-4802-8c72-c9e3c48ae88c"},"productIdOnStore":{"type":"string","description":"Product ID (on store).","example":"39"},"adsetId":{"type":"string","description":"Product ID / Banner ID","example":"f0452c18-6727-4e2a-8140-96c7367aba17"},"categoryIdOnStore":{"type":"string","description":"Category ID (on store).","example":"2108"},"orderId":{"type":"string","description":"Unique identifier of the order to prevent duplicate purchase tracking.","example":"23493"},"quantity":{"type":"number","description":"Quantity of the product.","example":2},"amount":{"type":"number","description":"The paid amount. It is used for calculating the ROAS.","example":54000},"userAgent":{"type":"string"}},"required":["storeId","sessionId","deviceId","orderId","amount"]}}},"externalDocs":{"description":"receiver.json","url":"api-json"}}